body{
    margin:0;
    padding:0;
}
.menu{
position: relative;
background-color: rgb(232,232,232);
padding:10px
}
.sub-menu{

position:absolute;
top:100%;
width:100vw;
color:ghostwhite;
border-radius:0% 0% 10px 10px;
background-color: rgb(52,52,52);
}
.menu div{
    display:grid;
    justify-content:center;
}

.sub-menu-elem{
    display: grid;
    border-bottom:rgba(248, 255, 255,0.75) 1px dashed;
    padding:10px;
}

.sub-menu-elem:nth-child(1){
    border-top:unset;
    
}
.menu .sub-menu {
    display:grid;
    align-items: center;
    justify-self: center;
    justify-content: stretch;
}

.menu .sub-menu {
    display:none;
    align-content: start;
    align-items: center;
    justify-self: center;
}
.menu:hover .sub-menu {
display:grid;
align-items: center;
justify-self: center;}
.menu{
    display: none;
}