body{
    margin:0;
    padding:0;
}
.container{
grid-template-columns: repeat(3,1fr);
background-color: rgba(30,30,30);
display: grid;
color:white;
height:400px;
/*For the spacing of the items inside of the lines*/
align-items: stretch;
/*For the spacing of the lines*/
align-content:space-around;
}
.A{
    display: grid;
    align-content: center;
    justify-content: center;
    height:120px;
    background-color:rgba(60,60,60);
}
.B{
    
    
    background-color:rgba(160,160,160);
}


.C{
    
    
    background-color:rgba(220,220,220);
}