body{
    margin:0;
    padding:0;
}
.side-menu{
    width: 40vw;
    position: absolute;
    right: 0;
    display: grid;
    background-color: rgba(64,64,64);
}

.menu-elem{  
    position: relative;
    background-color: rgba(0,0,0,0.75);
    color:white;
    display: grid;
    align-content: start;
  
}

.menu-elem-heading{
    display:grid;
    grid-template-columns:1fr 16px;
    justify-content: center;
    padding:10px;
    background-color:rgba(128,128,128,0.25);
    background-image: linear-gradient( rgba(0,0,0,0.25),rgba(0,0,0,0.75) 35%, rgba(0,0,0,0.25));
   
}

.menu-elem-heading-title{
    position: relative;
    text-align: center;
    text-indent:16px;
}

.menu-elem-heading-button{
    filter: brightness(0) invert(1);
    display: grid;
    align-items: center;
    justify-content: center;
}


.menu-elem-content{

   /*Those are the transition when revealing the element*/
    transition:max-height 2s,padding 0.5s 0s,color 0.1s 1.7s ;
    display: grid;
    justify-content: center;   
    color:white;
    overflow: hidden;
    max-height: 0px;
}
.menu-elem-content-text{
    padding:10px;
}
.hide{
   /*Those are the transition when hiding the element*/
    transition:max-height 2s,padding 0.5s 1.5s,color 0.1s 1.7s ;
    overflow: hidden;
    padding:0px;
}


#page-container{
    min-height: 110vh;
    position: relative;
}
@media (max-width:1024px) {
    

    .side-menu{
        width: 100%;
        position: absolute;
        bottom: 0;
        right:unset;
        top:unset;
        left:unset;
        display: grid;
        background-color: rgba(64,64,64);
    }
}